<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754150451770-92pll42vpc9q2n0b7kctl8pffs49a1i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754150451770-92pll42vpc9q2n0b7kctl8pffs49a1i8</string>
	<key>API_KEY</key>
	<string>AIzaSyBk01s4k72Xj01gQ7PH-kG_w0xmzRQOe1g</string>
	<key>GCM_SENDER_ID</key>
	<string>754150451770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITESM.prepanetApp</string>
	<key>PROJECT_ID</key>
	<string>prepanet-4015e</string>
	<key>STORAGE_BUCKET</key>
	<string>prepanet-4015e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754150451770:ios:a0a370efe9215045832303</string>
</dict>
</plist>